<!--  
    *  -----  /layout-aside-clase-10.html  --  /src/components/layout/pages/clase-10/layout-aside-clase-10.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 10 </h3>
        <p class="aside__subtitle"> Manipulación avanzada </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 10">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase10" data-route="route-clase10">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase10AppendPrepend" data-route="route-clase10-append-prepend">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Inyección Append / Prepend / AppendTo / PrependTo</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase10AfterBefore" data-route="route-clase10-after-before">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Inyección After / Before / InsertAfter / InsertBefore</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase10Dom" data-route="route-clase10-dom">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Inyección DOM</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase10Envoltura" data-route="route-clase10-envoltura">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Envoltura</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase10Dimensiones" data-route="route-clase10-dimensiones">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Dimensiones</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase10ScrollOffset" data-route="route-clase10-scroll-offset">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Scroll / Offset</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
