<!--  
    *  -----  /layout-aside-clase-19.html  --  /src/components/layout/pages/clase-19/layout-aside-clase-19.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 19 </h3>
        <p class="aside__subtitle"> Eventos Avanzados </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 19">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase19" data-route="route-clase19">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase19DelegacionEventos" data-route="route-clase19-delegacion-eventos">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Delegacion Eventos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase19PasarParametrosAEventos" data-route="route-clase19-pasar-parametros-a-eventos">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Pasar Parametros A Eventos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase19DispararEventos" data-route="route-clase19-disparar-eventos">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Disparar Eventos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase19DispararManejadores" data-route="route-clase19-disparar-manejadores">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Disparar Manejadores</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase19EventosPersonalizados1" data-route="route-clase19-eventos-personalizados-1">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Eventos Personalizados 1</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase19EventosPersonalizados2" data-route="route-clase19-eventos-personalizados-2">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Eventos Personalizados 2</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
