# Proyectos y cursos

# Node y dependencias
node_modules/
pnpm-lock.yaml
.env
.env.production
.env.*
!.env.example

# Deploy local (IP y rutas del VPS)
deploy.sh

# Carpeta de distribución / compilados
dist/


# Sistema y editor (opcional, recomendable)
.DS_Store
Thumbs.db
.vscode/
