<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /escuelait/curso-jquery-escuelait/
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /escuelait/curso-jquery-escuelait/index.html [L]
</IfModule>

