<!--  
    *  -----  /layout-aside-clase-15.html  --  /src/components/layout/pages/clase-15/layout-aside-clase-15.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 15 </h3>
        <p class="aside__subtitle"> JSON </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 15">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase15" data-route="route-clase15">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
