<!--  
    *  -----  /layout-aside-clase-18.html  --  /src/components/layout/pages/clase-18/layout-aside-clase-18.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 18 </h3>
        <p class="aside__subtitle"> Formularios Ajax </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 18">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase18" data-route="route-clase18">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase18EnviarDatosPostSinFormularios" data-route="route-clase18-enviar-datos-post-sin-formularios">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Enviar Datos Post Sin Formularios</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase18FormulariosSinValidacion" data-route="route-clase18-formularios-sin-validacion">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Formularios Sin Validacion</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase18FormularioValidacionCliente" data-route="route-clase18-formulario-validacion-cliente">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Formulario Validacion Cliente</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase18FormularioValidacionClienteServidor" data-route="route-clase18-formulario-validacion-cliente-servidor">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Formulario Validacion Cliente Servidor</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
