<!--  
    *  -----  /layout-aside-clase-20.html  --  /src/components/layout/pages/clase-20/layout-aside-clase-20.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 20 </h3>
        <p class="aside__subtitle"> Ajax Low Level </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 20">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase20" data-route="route-clase20">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase20AjaxPostPhp" data-route="route-clase20-ajax-post-php">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Ajax POST PHP</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase20AjaxLoadScripts" data-route="route-clase20-ajax-load-scripts">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Ajax Load Scripts</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase20Buscador" data-route="route-clase20-buscador">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Buscador</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase20SelectCombinado" data-route="route-clase20-select-combinado">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Select Combinado</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase20SelectCombinadoJsonp" data-route="route-clase20-select-combinado-jsonp">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Select Combinado JSONP</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
