<!--  
    *  --------------------------------------------------------------------------------  *
    *  -----  /layout-navbar.html  --  /src/components/layout/layout-navbar.html  -----  *
    *  --------------------------------------------------------------------------------  *
-->


<!--
    ------------------------------
    ----------  NAVBAR  ----------  
    ------------------------------
-->

<div class="navbar__container" title="Arrrastrame!!!">


    <!--
        --------------------------------------  
        -----  Título del menú (navbar)  -----
        --------------------------------------  
    -->
    <div class="navbar__title navbar__title--first">

        <!--  -----  Icon de jQuery -----  -->
        <a href="https://jquery.com/" target="_blank" rel="noopener noreferrer">
            <img class="navbar-jquery-icon"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery/jquery-icon.svg" alt="Logo jQuery"
                loading="lazy">
        </a>

        <a href="#">
            <h3> Navigation </h3>
        </a>

        <!--  -----  Icon de jQuery UI -----  -->
        <a href="https://jqueryui.com/" target="_blank" rel="noopener noreferrer">
            <img class="navbar-jquery-ui-icon"
                src="/04-escuela.it/curso-jquery-escuela.it/assets/img/logos/jquery-ui/jquery-ui-icon.svg"
                alt="Logo jQuery UI" loading="lazy">
        </a>

    </div>


    <!--  -----  Clases 1, 2, 3, 4 y 5  -----  -->
    <ul class="navbar__list">

        <!--  -----  jquery.antonydev.tech  -----  -->
        <li class="navbar__item">
            <a href="/" >
                jQuery.antonydev.tech
            </a>
        </li>
        <!--  -----  Home  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="home">
                Curso jQuery - escuela.it
            </a>
        </li>

        <!--  -----  item 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase01">
                Clase 1 - Que es jQuery
            </a>
        </li>

        <!--  -----  item 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase02">
                Clase 2 - Usar jQuery en la Actualidad
            </a>
        </li>

        <!--  -----  item 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase03">
                Clase 3 - Práctica primeros pasos
            </a>
        </li>

        <!--  -----  item 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase04">
                Clase 4 - Como se organiza el curso
            </a>
        </li>

        <!--  -----  item 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase05">
                Clase 5 - Introducción a jQuery
            </a>
        </li>

    </ul>


    <!--  -----  Clases 6  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 6-0  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase06">
                Clase 6 - Primeros Pasos con jQuery
            </a>
        </li>

        <!--  -----  item 6-1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase06Ejemplo1">
                Clase 6 - Ejemplo 1
            </a>
        </li>

        <!--  -----  item 6-2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase06Ejemplo2">
                Clase 6 - Ejemplo 2
            </a>
        </li>

    </ul>


    <ul class="navbar__list">

        <!--  -----  item 7  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07">
                Clase 7 - Manipulación Básica de Elementos
            </a>
        </li>

        <!--  -----  item 7 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07HtmlText">
                Clase 7 - 1. Métodos html() y text()
            </a>
        </li>

        <!--  -----  item 7 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07AttrProp">
                Clase 7 - 2. Métodos attr() y prop()
            </a>
        </li>

        <!--  -----  item 7 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07DataRemoveData">
                Clase 7 - 3. Métodos data() y removeData()
            </a>
        </li>

        <!--  -----  item 7 - 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase07Each">
                Clase 7 - 4. Método each() para recorrer elementos
            </a>
        </li>

    </ul>


    <!--  -----  list Clases 8  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 8  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08">
                Clase 8 - Selectores jQuery y Traversing
            </a>
        </li>

        <!--  -----  item 8 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08SelectoresJerarquia">
                Clase 8 - 1. Selectores Jerarquia
            </a>
        </li>

        <!--  -----  item 8 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08ProbarSelectores">
                Clase 8 - 2. Probar Selectores
            </a>
        </li>

        <!--  -----  item 8 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08Traversing">
                Clase 8 - 3. Traversing
            </a>
        </li>

        <!--  -----  item 8 - 4  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase08Contexto">
                Clase 8 - 4. Partir de un Contexto
            </a>
        </li>

    </ul>


    <!--  -----  list Clases 9  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 9  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09">
                Clase 9 - Dudas y Conceptos 1
            </a>
        </li>

        <!--  -----  item 9 - 0  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio00This">
                Clase 9 - Ejercicio con this
            </a>
        </li>

        <!--  -----  item 9 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio01">
                Clase 9 - Ejercicio 1
            </a>
        </li>

        <!--  -----  item 9 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio02">
                Clase 9 - Ejercicio 2
            </a>
        </li>

        <!--  -----  item 9 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio03">
                Clase 9 - Ejercicio 3
            </a>
        </li>

        <!--  -----  item 9 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio04">
                Clase 9 - Ejercicio 4
            </a>
        </li>

        <!--  -----  item 9 - 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio05">
                Clase 9 - Ejercicio 5
            </a>
        </li>

        <!--  -----  item 9 - 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase09Ejercicio06Date">
                Clase 9 - Ejercicio 6 con Date
            </a>
        </li>

    </ul>
    

    <!--  -----  list -  Clase 10  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 10  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase10">
                Clase 10 - Manipulación avanzada del contenido
            </a>
        </li>
        
        <!--  -----  item 10 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10AppendPrepend">
                Clase 10 - Inyección Append / Prepend / AppendTo / PrependTo
            </a>
        </li>

        <!--  -----  item 10 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10AfterBefore">
                Clase 10 - Inyección After / Before / InsertAfter / InsertBefore
            </a>
        </li>

        <!--  -----  item 10 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase10Dom">
                Clase 10 - Inyección DOM
            </a>
        </li>

        <!--  -----  item 10 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase10Envoltura">
                Clase 10 - Envoltura
            </a>
        </li>

        <!--  -----  item 10 - 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10Dimensiones">
                Clase 10 - Dimensiones
            </a>
        </li>

        <!--  -----  item 10 - 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase10ScrollOffset">
                Clase 10 - Scroll / Offset
            </a>
        </li>

    </ul>


    <!--  -----  list -  Clase 11  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 11  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase11">
                Clase 11 - Eventos en jQuery
            </a>
        </li>
        
        <!--  -----  item 11 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11MetodoOn">
                Clase 11 - Eventos - Método On
            </a>
        </li>

        <!--  -----  item 11 - 2  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11MetodoOff">
                Clase 11 - Eventos - Método Off
            </a>
        </li>

        <!--  -----  item 11 - 3  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase11EventType">
                Clase 11 - Eventos - Event Type
            </a>
        </li>

        <!--  -----  item 11 - 4  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase11PreventDefault">
                Clase 11 - Eventos - Prevent Default
            </a>
        </li>

        <!--  -----  item 11 - 5  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11StopPropagation">
                Clase 11 - Eventos - Stop Propagation
            </a>
        </li>

        <!--  -----  item 11 - 6  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase11EvitarDobleClick">
                Clase 11 - Eventos - Evitar Doble Click
            </a>
        </li>

        <!--  -----  item 11 - 7  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase11EventoPageXPageY">
                Clase 11 - Eventos - PageX / PageY
            </a>
        </li>

    </ul>


    <!--  -----  list -  Clase 12  -----  -->
    <ul class="navbar__list">

        <!--  -----  item 12  -----  -->
        <li class="navbar__item">    
            <a href="#" data-id="clase12">
                Clase 12 - Eventos de Teclado y Ratón
            </a>
        </li>
        
        <!--  -----  item 12 - 1  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase12MovimientoRaton">
                Clase 12 - 1. Seguir movimiento del ratón
            </a>
        </li>

        <!--  -----  item 12 - 2  -----  --->
        <li class="navbar__item">
            <a href="#" data-id="clase12MenuContextual">
                Clase 12 - 2. Menú contextual personalizado
            </a>
        </li>

        <!--  -----  item 12 - 3  -----  -->
        <li class="navbar__item">
            <a href="#" data-id="clase12TextareaCuentaCaracteres">
                Clase 12 - 3. Textarea cuenta caracteres
            </a>
        </li>

    </ul>

</div>
