<!--
    *  ---------------------------------------------------------------------------------------------------------------  *
    *  -----  /layout-aside-clase-22.html  --  /src/components/layout/pages/clase-22/layout-aside-clase-22.html  -----  *
    *  ---------------------------------------------------------------------------------------------------------------  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 22 </h3>
        <p class="aside__subtitle"> Deferred y Promesas </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 22">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase22" data-route="route-clase22">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase22Deferred" data-route="route-clase22-deferred">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Deferred</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase22Promesas" data-route="route-clase22-promesas">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Promesas</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase22FuncionComoPromesa" data-route="route-clase22-funcion-como-promesa">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Función como Promesa</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase22AplicandoConceptos" data-route="route-clase22-aplicando-conceptos">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Aplicando conceptos</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
