<!--  
    *  -----  /layout-aside-clase-07.html  --  /src/components/layout/pages/clase-07/layout-aside-clase-07.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 7 </h3>
        <p class="aside__subtitle"> Manipulación Básica </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 7">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase07" data-route="route-clase07">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase07HtmlText" data-route="route-clase07-html-text">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Métodos html() y text()</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase07AttrProp" data-route="route-clase07-attr-prop">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Métodos attr() y prop()</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase07DataRemoveData" data-route="route-clase07-data-remove-data">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Métodos data() y removeData()</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase07Each" data-route="route-clase07-each">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Método each() para recorrer elementos</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
