<!--  
    *  -----  /layout-aside-clase-04.html  --  /src/components/layout/pages/clase-04/layout-aside-clase-04.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 4 </h3>
        <p class="aside__subtitle"> Cómo se organiza el curso </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 4">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase04" data-route="route-clase04">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
