<!--
    *  ---------------------------------------------------------------------------------------------------------------  *
    *  -----  /layout-aside-clase-21.html  --  /src/components/layout/pages/clase-21/layout-aside-clase-21.html  -----  *
    *  ---------------------------------------------------------------------------------------------------------------  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 21 </h3>
        <p class="aside__subtitle"> Práctica 1 Formulario Login </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 21">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase21" data-route="route-clase21">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase21FormularioLogin" data-route="route-clase21-formulario-login">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Formulario Login</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
