<!--  
    *  -----  /layout-aside-clase-11.html  --  /src/components/layout/pages/clase-11/layout-aside-clase-11.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 11 </h3>
        <p class="aside__subtitle"> Eventos en jQuery </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 11">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase11" data-route="route-clase11">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11MetodoOn" data-route="route-clase11-metodo-on">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Eventos - Método On</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11MetodoOff" data-route="route-clase11-metodo-off">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Eventos - Método Off</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11EventType" data-route="route-clase11-event-type">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Eventos - Event Type</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11PreventDefault" data-route="route-clase11-prevent-default">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Eventos - Prevent Default</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11StopPropagation" data-route="route-clase11-stop-propagation">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Eventos - Stop Propagation</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11EvitarDobleClick" data-route="route-clase11-evitar-doble-click">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Eventos - Evitar Doble Click</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase11EventoPageXPageY" data-route="route-clase11-evento-page-xpage-y">
                    <span class="aside__item-num">07</span>
                    <span class="aside__item-label">Eventos - PageX / PageY</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
