<!--  
    *  -----  /layout-aside-clase-06.html  --  /src/components/layout/pages/clase-06/layout-aside-clase-06.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 6 </h3>
        <p class="aside__subtitle"> Primeros Pasos con jQuery </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 6">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase06" data-route="route-clase06">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase06Ejemplo1" data-route="route-clase06-ejemplo1">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Ejemplo 1</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase06Ejemplo2" data-route="route-clase06-ejemplo2">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Ejemplo 2</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
