<!--
    *  ---------------------------------------------------------------------------------------------------------------  *
    *  -----  /layout-aside-clase-23.html  --  /src/components/layout/pages/clase-23/layout-aside-clase-23.html  -----  *
    *  ---------------------------------------------------------------------------------------------------------------  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 23 </h3>
        <p class="aside__subtitle"> Dudas y conceptos 3 </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 23">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase23" data-route="route-clase23">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase23ValidarFormulario" data-route="route-clase23-validar-formulario">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Validar Formulario</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase23AnimacionesEnBucleForma1" data-route="route-clase23-animaciones-en-bucle-forma-1">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Animaciones en Bucle Forma 1</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase23AnimacionesEnBucleForma2" data-route="route-clase23-animaciones-en-bucle-forma-2">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Animaciones en Bucle Forma 2</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
