<!--  
    *  -----  /layout-aside-clase-05.html  --  /src/components/layout/pages/clase-05/layout-aside-clase-05.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 5 </h3>
        <p class="aside__subtitle"> Introducción a jQuery </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 5">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase05" data-route="route-clase05">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
