<!--  
    *  -----  /layout-aside-clase-01.html  --  /src/components/layout/pages/clase-01/layout-aside-clase-01.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 1 </h3>
        <p class="aside__subtitle"> Qué es jQuery </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 1">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase01" data-route="route-clase01">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
