<!--  
    *  -----  /layout-aside-clase-08.html  --  /src/components/layout/pages/clase-08/layout-aside-clase-08.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 8 </h3>
        <p class="aside__subtitle"> Selectores y Traversing </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 8">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase08" data-route="route-clase08">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase08SelectoresJerarquia" data-route="route-clase08-selectores-jerarquia">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Selectores Jerarquia</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase08ProbarSelectores" data-route="route-clase08-probar-selectores">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Probar Selectores</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase08Traversing" data-route="route-clase08-traversing">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Traversing</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase08Contexto" data-route="route-clase08-contexto">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Partir de un Contexto</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
