<!--  
    *  -----  /layout-aside-clase-14.html  --  /src/components/layout/pages/clase-14/layout-aside-clase-14.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 14 </h3>
        <p class="aside__subtitle"> Cola de Efectos </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 14">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase14" data-route="route-clase14">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase14EncoladoEfectos" data-route="route-clase14-encolado-efectos">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Encolado de Efectos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase14EjemploStop" data-route="route-clase14-ejemplo-stop">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Ejemplo Stop</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase14LongitudColaEfectos" data-route="route-clase14-longitud-cola-efectos">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Longitud Cola Efectos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase14EncolarFuncionesNoEfectos" data-route="route-clase14-encolar-funciones-no-efectos">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Encolar Funciones No Efectos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase14EncoladoRespuestasEventos" data-route="route-clase14-encolado-respuestas-eventos">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Encolado Respuestas Eventos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase14AnimacionesEnBucle" data-route="route-clase14-animaciones-en-bucle">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Animaciones en Bucle</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
