<!--  
    *  -----  /layout-aside-clase-09.html  --  /src/components/layout/pages/clase-09/layout-aside-clase-09.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 9 </h3>
        <p class="aside__subtitle"> Dudas y Conceptos 1 </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 9">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase09" data-route="route-clase09">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09Ejercicio00This" data-route="route-clase09-ejercicio00-this">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Ejercicio con this</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09Ejercicio01" data-route="route-clase09-ejercicio01">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Ejercicio 1</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09Ejercicio02" data-route="route-clase09-ejercicio02">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Ejercicio 2</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09Ejercicio03" data-route="route-clase09-ejercicio03">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Ejercicio 3</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09Ejercicio04" data-route="route-clase09-ejercicio04">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Ejercicio 4</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09Ejercicio05" data-route="route-clase09-ejercicio05">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Ejercicio 5</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase09Ejercicio06Date" data-route="route-clase09-ejercicio06-date">
                    <span class="aside__item-num">07</span>
                    <span class="aside__item-label">Ejercicio 6 con Date</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
