<!--  
    *  -----  /layout-aside-clase-13.html  --  /src/components/layout/pages/clase-13/layout-aside-clase-13.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 13 </h3>
        <p class="aside__subtitle"> Efectos y Animaciones </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 13">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase13" data-route="route-clase13">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase13Toggle" data-route="route-clase13-toggle">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Toggle</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase13Animate" data-route="route-clase13-animate">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Animate</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase13PluginEase" data-route="route-clase13-plugin-ease">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Plugin Ease</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase13PluginEaseAnimateColors" data-route="route-clase13-plugin-ease-animate-colors">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Plugin Ease Animate Colors</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase13PluginEaseAnimateColorsOptions" data-route="route-clase13-plugin-ease-animate-colors-options">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Plugin Ease Animate Colors Options</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
