<!--  
    *  -----  /layout-aside-clase-12.html  --  /src/components/layout/pages/clase-12/layout-aside-clase-12.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 12 </h3>
        <p class="aside__subtitle"> Eventos Teclado y Ratón </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 12">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase12" data-route="route-clase12">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase12MovimientoRaton" data-route="route-clase12-movimiento-raton">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Seguir movimiento del ratón</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase12MenuContextual" data-route="route-clase12-menu-contextual">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Menú contextual personalizado</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase12TextareaCuentaCaracteres" data-route="route-clase12-textarea-cuenta-caracteres">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Textarea cuenta caracteres</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
