<!--  
    *  -----  /layout-aside-clase-16.html  --  /src/components/layout/pages/clase-16/layout-aside-clase-16.html  -----  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 16 </h3>
        <p class="aside__subtitle"> AJAX Alto Nivel </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 16">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase16" data-route="route-clase16">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase16Load" data-route="route-clase16-load">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Load</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase16GetAjax" data-route="route-clase16-get-ajax">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Get Ajax</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase16GetAjaxDatos" data-route="route-clase16-get-ajax-datos">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Get Ajax Datos</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase16GetAjaxDatosObjetoAjax" data-route="route-clase16-get-ajax-datos-objeto-ajax">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">Get Ajax Datos Objeto Ajax</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
