<!--
    *  ---------------------------------------------------------------------------------------------------------------  *
    *  -----  /layout-aside-clase-24.html  --  /src/components/layout/pages/clase-24/layout-aside-clase-24.html  -----  *
    *  ---------------------------------------------------------------------------------------------------------------  *
-->


<div class="aside-right__container">

    <div class="aside__title">
        <h3> Clase 24 </h3>
        <p class="aside__subtitle"> Template Systems </p>
    </div>

    <nav class="aside-right__nav" aria-label="Ejercicios de la Clase 24">
        <ul class="aside__list">

            <li class="aside__item">
                <a href="#" data-id="clase24" data-route="route-clase24">
                    <span class="aside__item-num">00</span>
                    <span class="aside__item-label">Introducción</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24HandlebarsCompilarBasico" data-route="route-clase24-handlebars-compilar-basico">
                    <span class="aside__item-num">01</span>
                    <span class="aside__item-label">Handlebars compilar básico</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24HandlebarsStringEnJavascript" data-route="route-clase24-handlebars-string-en-javascript">
                    <span class="aside__item-num">02</span>
                    <span class="aside__item-label">Handlebars string en JavaScript</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24HandlebarsScriptEnHtml" data-route="route-clase24-handlebars-script-en-html">
                    <span class="aside__item-num">03</span>
                    <span class="aside__item-label">Handlebars script en HTML</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24JqueryGenerarDom" data-route="route-clase24-jquery-generar-dom">
                    <span class="aside__item-num">04</span>
                    <span class="aside__item-label">jQuery generar DOM</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24HandlebarsTemplateExternoAjax" data-route="route-clase24-handlebars-template-externo-ajax">
                    <span class="aside__item-num">05</span>
                    <span class="aside__item-label">Template externo AJAX</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24HandlebarsBlockExpressions" data-route="route-clase24-handlebars-block-expressions">
                    <span class="aside__item-num">06</span>
                    <span class="aside__item-label">Block expressions</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24HandlebarsPath" data-route="route-clase24-handlebars-path">
                    <span class="aside__item-num">07</span>
                    <span class="aside__item-label">Handlebars path</span>
                </a>
            </li>

            <li class="aside__item">
                <a href="#" data-id="clase24HandlebarsBuiltInHelpers" data-route="route-clase24-handlebars-built-in-helpers">
                    <span class="aside__item-num">08</span>
                    <span class="aside__item-label">Built-in helpers</span>
                </a>
            </li>

        </ul>
    </nav>

</div>
